services:
  db:
    image: postgres:17.5
    restart: unless-stopped
    networks:
      - houseXpense
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5

  server:
    build: 
      dockerfile: ./docker/server/Dockerfile
      context: .
    restart: unless-stopped
    networks:
      - houseXpense
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: ${DATABASE_URL}
      PORT: ${PORT}
    command: >
      sh -c "
        npx prisma generate &&
        npx prisma migrate deploy &&
        node index.js
      "
    ports:
      - "4000:4000"

  client:
      build:
        context: .
        dockerfile: ./docker/client/Dockerfile
        args:
          VITE_API_URL: ${VITE_API_URL}
      restart: unless-stopped
      networks:
        - houseXpense
      depends_on:
        - server
      ports:
        - "5173:80"

volumes:
  db_data:

networks:
  houseXpense:
    driver: bridge